@import "tailwindcss";

html,
body,
:where(#__next) {
  @apply min-h-screen bg-[#212529] text-gray-100;
  margin: 0;
  padding: 0;
  /* Растягиваем под панели Safari */
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

/* Фикс для iOS Safari: убираем белые вспышки при скролле */
body {
  background-color: #212529;
  -webkit-overflow-scrolling: touch;
}

/* Если используешь safe-area */
@supports (padding: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@keyframes gradientFlow {
  0% {
    background-position:
      20% 50%,
      80% 80%;
  }
  50% {
    background-position:
      35% 40%,
      65% 90%;
  }
  100% {
    background-position:
      20% 50%,
      80% 80%;
  }
}

.container__checkbox {
  cursor: pointer;
  width: 20px;
  align-self: center;
}

.container__checkbox input {
  display: none;
}

.container__checkbox svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #99a1af; /* Замени на свой цвет, если нужно */
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container__checkbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.opacity_1 {
  opacity: 1;
  visibility: visible;
}

.opacity_0 {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup::before{
    
}